/* :root:root {
    --primary-color: #2753e3;
    --primary-color-1: #f0f6ff;
    --primary-color-2: #cfe0ff;
    --primary-color-3: #a6c3ff;
    --primary-color-4: #7ca2fc;
    --primary-color-5: #4f7af0;
    --primary-color-6: var(--primary-color);
    --primary-color-7: #1738bd;
    --primary-color-8: #0b2296;
    --primary-color-9: #021170;
    --primary-color-10: #01084a;
    --primary-color-11: #224fe4;
    --white-background-color: #fff;
    --default-background-color: #f1f3f6;
    --default-background-color-1: var(--white-background-color);
    --special-default-background-color-1: #fff;
    --default-background-color-2: #f9fafb;
    --special-default-background-color-2: #fafafa;
    --default-background-color-3: #f1f3f6;
    --special-default-background-color-3: #f5f5f5;
    --default-background-color-4: #e9ecf2;
    --special-default-background-color-4: #f0f0f0;
    --default-background-color-5: #d0d4dd;
    --special-default-background-color-5: #d9d9d9;
    --default-background-color-6: #b4b8c4;
    --special-default-background-color-6: #bfbfbf;
    --default-background-color-7: #828695;
    --special-default-background-color-7: #8c8c8c;
    --default-background-color-8: #525663;
    --special-default-background-color-8: #595959;
    --default-background-color-9: #3d3f4b;
    --special-default-background-color-9: #434343;
    --default-background-color-10: #22242d;
    --special-default-background-color-10: #262626;
    --default-background-color-11: #1c1d24;
    --special-default-background-color-11: #1f1f1f;
    --default-background-color-12: #12131a;
    --special-default-background-color-12: #141414;
    --default-background-color-13: #000108;
    --special-default-background-color-13: #000;
    --error-color: #d92d21;
    --error-color-1: #fff3f0;
    --error-color-2: #ffd4c9;
    --error-color-3: #ffb0a1;
    --error-color-4: #f28372;
    --error-color-5: #e65747;
    --error-color-6: var(--error-color);
    --error-color-7: #b31712;
    --error-color-8: #8c0707;
    --error-color-9: #660003;
    --error-color-10: #400004;
    --success-color: #00b53c;
    --success-color-1: #dcf5e0;
    --success-color-2: #95e8a5;
    --success-color-3: #69db84;
    --success-color-4: #69db84;
    --success-color-5: #1fc250;
    --success-color-6: var(--success-color);
    --success-color-7: #008f34;
    --success-color-8: #00692a;
    --success-color-9: #00421d;
    --success-color-10: #001c0d;
    --primary-text-color: var(--primary-color);
    --title-color-1: var(--default-background-color-13);
    --title-color-2: var(--default-background-color-9);
    --title-color-3: var(--default-background-color-7);
    --title-color-4: var(--default-background-color-5);
    --title-color-5: var(--special-default-background-color-1);
    --title-color-6: var(--default-background-color-4);
    --title-color-7: var(--primary-color-5);
    --title-color-9: var(--special-default-background-color-9);
    --adm-color-primary: var(--primary-color);
    --adm-color-danger: var(--error-color);
    --adm-color-success: var(--success-color);
    --adm-color-light: var(--default-background-color-5);
    --adm-color-weak: var(--default-background-color-7);
    --adm-color-text: var(--default-background-color-13)
}

:root {
    --adm-radius-s: 4px;
    --adm-radius-m: 8px;
    --adm-radius-l: 12px;
    --adm-font-size-1: 9px;
    --adm-font-size-2: 10px;
    --adm-font-size-3: 11px;
    --adm-font-size-4: 12px;
    --adm-font-size-5: 13px;
    --adm-font-size-6: 14px;
    --adm-font-size-7: 15px;
    --adm-font-size-8: 16px;
    --adm-font-size-9: 17px;
    --adm-font-size-10: 18px;
    --adm-color-primary: #1677ff;
    --adm-color-success: #00b578;
    --adm-color-warning: #ff8f1f;
    --adm-color-danger: #ff3141;
    --adm-color-yellow: #ff9f18;
    --adm-color-orange: #ff6430;
    --adm-color-wathet: #e7f1ff;
    --adm-color-text: #333;
    --adm-color-text-secondary: #666;
    --adm-color-weak: #999;
    --adm-color-light: #ccc;
    --adm-color-border: #eee;
    --adm-color-background: #fff;
    --adm-color-highlight: var(--adm-color-danger);
    --adm-color-white: #fff;
    --adm-color-box: #f5f5f5;
    --adm-color-text-light-solid: var(--adm-color-white);
    --adm-color-text-dark-solid: #000;
    --adm-color-fill-content: var(--adm-color-box);
    --adm-font-size-main: var(--adm-font-size-5);
    --adm-font-family: -apple-system,blinkmacsystemfont,"Helvetica Neue",helvetica,segoe ui,arial,roboto,"PingFang SC","miui","Hiragino Sans GB","Microsoft Yahei",sans-serif;
    --adm-border-color: var(--adm-color-border)
}

html[data-prefers-color-scheme=dark] {
    --adm-color-primary: #3086ff;
    --adm-color-success: #34b368;
    --adm-color-warning: #ffa930;
    --adm-color-danger: #ff4a58;
    --adm-color-yellow: #ffa930;
    --adm-color-orange: #e65a2b;
    --adm-color-wathet: #0d2543;
    --adm-color-text: #e6e6e6;
    --adm-color-text-secondary: #b3b3b3;
    --adm-color-weak: grey;
    --adm-color-light: #4d4d4d;
    --adm-color-border: #2b2b2b;
    --adm-color-box: #0a0a0a;
    --adm-color-background: #1a1a1a;
    --adm-color-background-body: var(--adm-color-background);
    --adm-border-color: var(--adm-color-border)
}

:root {
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

html {
    background-color: var(--adm-color-background-body)
}

body {
    color: #333;
    color: var(--adm-color-text);
    font-size: 13px;
    font-size: var(--adm-font-size-main);
    font-family: -apple-system,blinkmacsystemfont,Helvetica Neue,helvetica,segoe ui,arial,roboto,PingFang SC,miui,Hiragino Sans GB,Microsoft Yahei,sans-serif;
    font-family: var(--adm-font-family)
}

a,button {
    cursor: pointer
}

a {
    color: #1677ff;
    color: var(--adm-color-primary);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

a:active {
    opacity: .8
}

.adm-plain-anchor {
    color: unset;
    -webkit-transition: none;
    transition: none
}

.adm-plain-anchor:active {
    opacity: unset
}

body.adm-overflow-hidden {
    overflow: hidden!important
}

div.adm-px-tester {
    --size: 1;
    height: calc(var(--size)/2*2px);
    width: 0;
    position: fixed;
    left: -100vw;
    top: -100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none
}

.adm-action-sheet-popup>.adm-popup-body {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden
}

.adm-action-sheet-extra {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--adm-color-weak);
    font-size: var(--adm-font-size-7);
    padding: 18px 12px
}

.adm-action-sheet-button-item-wrapper,.adm-action-sheet-button-list,.adm-action-sheet-extra {
    border-bottom: 1px solid var(--adm-color-border)
}

.adm-action-sheet-button-item-wrapper:last-child {
    border-bottom: none
}

.adm-action-sheet-button-item {
    text-align: center;
    display: block;
    background-color: var(--adm-color-background);
    padding: 16px
}

.adm-action-sheet-button-item:active {
    background-color: var(--adm-color-border)
}

.adm-action-sheet-button-item-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .4
}

.adm-action-sheet-button-item-name {
    color: var(--adm-color-text);
    font-size: var(--adm-font-size-10)
}

.adm-action-sheet-button-item-description {
    font-size: var(--adm-font-size-6);
    color: var(--adm-color-weak);
    padding-top: 4px
}

.adm-action-sheet-button-item-danger .adm-action-sheet-button-item-name {
    color: var(--adm-color-danger)
}

.adm-action-sheet-button-item-bold .adm-action-sheet-button-item-name {
    font-weight: 700
}

.adm-action-sheet-cancel {
    background-color: var(--adm-color-fill-content);
    padding-top: 8px
}

.adm-popup {
    --z-index: var(--adm-popup-z-index,1000);
    position: fixed;
    z-index: var(--z-index)
}

.adm-popup-body {
    position: fixed;
    background-color: var(--adm-color-background);
    z-index: calc(var(--z-index) + 10)
}

.adm-popup-body .adm-popup-close-icon {
    position: absolute;
    z-index: 100
}

.adm-popup-body-position-bottom {
    width: 100%;
    bottom: 0;
    left: 0
}

.adm-popup-body-position-bottom .adm-popup-close-icon {
    right: 8px;
    top: 8px
}

.adm-popup-body-position-top {
    width: 100%;
    top: 0;
    left: 0
}

.adm-popup-body-position-top .adm-popup-close-icon {
    right: 8px;
    bottom: 8px
}

.adm-popup-body-position-left {
    height: 100%;
    top: 0;
    left: 0
}

.adm-popup-body-position-left .adm-popup-close-icon {
    right: 8px;
    top: 8px
}

.adm-popup-body-position-right {
    height: 100%;
    top: 0;
    right: 0
}

.adm-popup-body-position-right .adm-popup-close-icon {
    left: 8px;
    top: 8px
}

.adm-popup-close-icon {
    cursor: pointer;
    padding: 4px;
    font-size: 18px;
    line-height: 1;
    color: var(--adm-color-weak)
}

.adm-mask {
    --z-index: var(--adm-mask-z-index,1000);
    position: fixed;
    z-index: var(--z-index);
    display: block
}

.adm-mask,.adm-mask-aria-button {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.adm-mask-aria-button {
    position: absolute;
    z-index: 0;
    pointer-events: none
}

.adm-mask-content {
    z-index: 1
}

.adm-safe-area {
    --multiple: var(--adm-safe-area-multiple,1);
    display: block;
    width: 100%
}

.adm-safe-area-position-top {
    padding-top: calc(env(safe-area-inset-top)*var(--multiple))
}

.adm-safe-area-position-bottom {
    padding-bottom: calc(env(safe-area-inset-bottom)*var(--multiple))
}

.adm-avatar {
    --size: var(--adm-avatar-size,44px);
    --border-radius: var(--adm-avatar-border-radius,4px);
    border-radius: var(--border-radius)
}

.adm-avatar.adm-image {
    --width: var(--size);
    --height: var(--size)
}

.adm-avatar-fallback {
    height: 100%;
    width: 100%;
    display: block
}

.adm-image {
    --width: var(--adm-image-width,auto);
    --height: var(--adm-image-height,auto);
    width: var(--width);
    height: var(--height);
    display: block;
    overflow: hidden
} */

.adm-image-img {
    width: 100%;
    height: 100%
}

/* .adm-image-tip {
    position: relative;
    background-color: var(--adm-color-fill-content);
    height: 100%;
    min-height: 24px;
    min-width: 24px
}

.adm-image-tip>svg {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: var(--adm-color-weak)
}

.adm-badge-wrapper {
    display: inline-block;
    position: relative
}

.adm-badge {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 100px;
    background-color: var(--color);
    --right: 0;
    --top: 0;
    --color: var(--adm-badge-color,var(--adm-color-highlight))
}

.adm-badge-content {
    color: var(--adm-color-text-light-solid);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 8px;
    padding: 1px 4px;
    font-size: var(--adm-font-size-1);
    line-height: 12px;
    white-space: nowrap;
    font-weight: 400;
    text-align: center
}

.adm-badge-fixed {
    position: absolute;
    right: var(--right);
    top: var(--top);
    -webkit-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    transform: translate(50%,-50%)
}

.adm-badge-dot {
    min-width: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px
}

.adm-badge-bordered {
    border: 1px solid var(--adm-color-text-light-solid)
}

.adm-button {
    --color: var(--adm-color-text-light-solid);
    --text-color: var(--adm-button-text-color,var(--adm-color-text));
    --background-color: var(--adm-button-background-color,var(--adm-color-background));
    --border-radius: var(--adm-button-border-radius,4px);
    --border-width: var(--adm-button-border-width,1px);
    --border-style: var(--adm-button-border-style,solid);
    --border-color: var(--adm-button-border-color,var(--adm-color-border));
    color: var(--text-color);
    background-color: var(--background-color);
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 7px 12px;
    margin: 0;
    font-size: var(--adm-font-size-9);
    line-height: 1.4;
    text-align: center;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    -webkit-transition: opacity .15s ease;
    transition: opacity .15s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.adm-button:focus {
    outline: none
}

.adm-button:before {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(calc(var(--border-width)*-1),calc(var(--border-width)*-1));
    -ms-transform: translate(calc(var(--border-width)*-1),calc(var(--border-width)*-1));
    transform: translate(calc(var(--border-width)*-1),calc(var(--border-width)*-1));
    width: 100%;
    height: 100%;
    background-color: var(--adm-color-text-dark-solid);
    border: var(--border-width) var(--border-style) var(--adm-color-text-dark-solid);
    border-radius: var(--border-radius);
    opacity: 0;
    content: " ";
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.adm-button:active:before {
    opacity: .08
}

.adm-button-default.adm-button-fill-outline {
    --background-color: transparent;
    --border-color: var(--adm-color-text)
}

.adm-button-default.adm-button-fill-none {
    --background-color: transparent;
    --border-width: 0px
}

.adm-button:not(.adm-button-default) {
    --text-color: var(--adm-color-text-light-solid);
    --background-color: var(--color);
    --border-color: var(--color)
}

.adm-button:not(.adm-button-default).adm-button-fill-outline {
    --text-color: var(--color);
    --background-color: transparent
}

.adm-button:not(.adm-button-default).adm-button-fill-none {
    --text-color: var(--color);
    --background-color: transparent;
    --border-width: 0px
}

.adm-button-primary {
    --color: var(--adm-color-primary)
}

.adm-button-success {
    --color: var(--adm-color-success)
}

.adm-button-danger {
    --color: var(--adm-color-danger)
}

.adm-button-warning {
    --color: var(--adm-color-warning)
}

.adm-button-block {
    display: block;
    width: 100%
}

.adm-button-disabled {
    cursor: not-allowed;
    opacity: .4
}

.adm-button-disabled:active:before {
    display: none
}

.adm-button.adm-button-mini {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: var(--adm-font-size-main)
}

.adm-button.adm-button-mini.adm-button-shape-rounded {
    padding-left: 9px;
    padding-right: 9px
}

.adm-button.adm-button-small {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: var(--adm-font-size-7)
}

.adm-button.adm-button-large {
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: var(--adm-font-size-10)
}

.adm-button.adm-button-shape-rounded {
    --border-radius: 1000px
}

.adm-button.adm-button-shape-rectangular {
    --border-radius: 0
}

.adm-button-loading {
    vertical-align: bottom
}

.adm-button-loading-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 1.4em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.adm-button-loading-wrapper>.adm-loading {
    opacity: .6
}

.adm-dot-loading {
    display: inline-block
}

.adm-divider-horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 16px 0;
    border: 0 solid var(--adm-color-border);
    color: var(--adm-color-weak);
    font-size: 14px
}

.adm-divider-left.adm-divider-horizontal:before,.adm-divider-right.adm-divider-horizontal:after {
    max-width: 10%
}

.adm-divider-horizontal:after,.adm-divider-horizontal:before {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: block;
    content: "";
    border-style: inherit;
    border-color: inherit;
    border-width: 1px 0 0
}

.adm-divider-horizontal .adm-divider-content {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    padding: 0 16px
}

.adm-divider-vertical {
    position: relative;
    top: -.06em;
    display: inline-block;
    height: .9em;
    margin: 0 16px;
    vertical-align: middle;
    border-top: 0;
    border-left: 1px solid var(--adm-color-border)
}

.adm-calendar-picker-popup .adm-calendar-picker-popup-title,.adm-calendar-picker-popup .adm-calendar-picker-title,.adm-calendar-picker-popup .adm-calendar-picker-view-title,.adm-calendar-picker-view .adm-calendar-picker-popup-title,.adm-calendar-picker-view .adm-calendar-picker-title,.adm-calendar-picker-view .adm-calendar-picker-view-title,.adm-calendar-picker .adm-calendar-picker-popup-title,.adm-calendar-picker .adm-calendar-picker-title,.adm-calendar-picker .adm-calendar-picker-view-title {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    font-size: var(--adm-font-size-10)
}

.adm-calendar-picker-popup .adm-calendar-picker-header,.adm-calendar-picker-popup .adm-calendar-picker-popup-header,.adm-calendar-picker-popup .adm-calendar-picker-view-header,.adm-calendar-picker-view .adm-calendar-picker-header,.adm-calendar-picker-view .adm-calendar-picker-popup-header,.adm-calendar-picker-view .adm-calendar-picker-view-header,.adm-calendar-picker .adm-calendar-picker-header,.adm-calendar-picker .adm-calendar-picker-popup-header,.adm-calendar-picker .adm-calendar-picker-view-header {
    padding: 12px;
    border-bottom: 1px solid var(--adm-color-border)
}

.adm-calendar-picker-popup .adm-calendar-picker-header .adm-calendar-picker-view-title,.adm-calendar-picker-popup .adm-calendar-picker-popup-header .adm-calendar-picker-view-title,.adm-calendar-picker-popup .adm-calendar-picker-view-header .adm-calendar-picker-view-title,.adm-calendar-picker-view .adm-calendar-picker-header .adm-calendar-picker-view-title,.adm-calendar-picker-view .adm-calendar-picker-popup-header .adm-calendar-picker-view-title,.adm-calendar-picker-view .adm-calendar-picker-view-header .adm-calendar-picker-view-title,.adm-calendar-picker .adm-calendar-picker-header .adm-calendar-picker-view-title,.adm-calendar-picker .adm-calendar-picker-popup-header .adm-calendar-picker-view-title,.adm-calendar-picker .adm-calendar-picker-view-header .adm-calendar-picker-view-title {
    text-align: center
}

.adm-calendar-picker-popup .adm-calendar-picker-body,.adm-calendar-picker-popup .adm-calendar-picker-popup-body,.adm-calendar-picker-popup .adm-calendar-picker-view-body,.adm-calendar-picker-view .adm-calendar-picker-body,.adm-calendar-picker-view .adm-calendar-picker-popup-body,.adm-calendar-picker-view .adm-calendar-picker-view-body,.adm-calendar-picker .adm-calendar-picker-body,.adm-calendar-picker .adm-calendar-picker-popup-body,.adm-calendar-picker .adm-calendar-picker-view-body {
    height: 64vh;
    overflow: auto
}

.adm-calendar-picker-popup .adm-calendar-picker-body::-webkit-scrollbar,.adm-calendar-picker-popup .adm-calendar-picker-popup-body::-webkit-scrollbar,.adm-calendar-picker-popup .adm-calendar-picker-view-body::-webkit-scrollbar,.adm-calendar-picker-view .adm-calendar-picker-body::-webkit-scrollbar,.adm-calendar-picker-view .adm-calendar-picker-popup-body::-webkit-scrollbar,.adm-calendar-picker-view .adm-calendar-picker-view-body::-webkit-scrollbar,.adm-calendar-picker .adm-calendar-picker-body::-webkit-scrollbar,.adm-calendar-picker .adm-calendar-picker-popup-body::-webkit-scrollbar,.adm-calendar-picker .adm-calendar-picker-view-body::-webkit-scrollbar {
    display: none
}

.adm-calendar-picker-popup .adm-calendar-picker-body .adm-calendar-picker-view-title,.adm-calendar-picker-popup .adm-calendar-picker-popup-body .adm-calendar-picker-view-title,.adm-calendar-picker-popup .adm-calendar-picker-view-body .adm-calendar-picker-view-title,.adm-calendar-picker-view .adm-calendar-picker-body .adm-calendar-picker-view-title,.adm-calendar-picker-view .adm-calendar-picker-popup-body .adm-calendar-picker-view-title,.adm-calendar-picker-view .adm-calendar-picker-view-body .adm-calendar-picker-view-title,.adm-calendar-picker .adm-calendar-picker-body .adm-calendar-picker-view-title,.adm-calendar-picker .adm-calendar-picker-popup-body .adm-calendar-picker-view-title,.adm-calendar-picker .adm-calendar-picker-view-body .adm-calendar-picker-view-title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 8px 20px;
    background-color: var(--adm-color-box)
}

.adm-calendar-picker-popup .adm-calendar-picker-footer-bottom,.adm-calendar-picker-popup .adm-calendar-picker-popup-footer-bottom,.adm-calendar-picker-popup .adm-calendar-picker-view-footer-bottom,.adm-calendar-picker-view .adm-calendar-picker-footer-bottom,.adm-calendar-picker-view .adm-calendar-picker-popup-footer-bottom,.adm-calendar-picker-view .adm-calendar-picker-view-footer-bottom,.adm-calendar-picker .adm-calendar-picker-footer-bottom,.adm-calendar-picker .adm-calendar-picker-popup-footer-bottom,.adm-calendar-picker .adm-calendar-picker-view-footer-bottom {
    padding: 0 20px 16px
}

.adm-calendar-picker-popup .adm-calendar-picker-footer .adm-divider,.adm-calendar-picker-popup .adm-calendar-picker-popup-footer .adm-divider,.adm-calendar-picker-popup .adm-calendar-picker-view-footer .adm-divider,.adm-calendar-picker-view .adm-calendar-picker-footer .adm-divider,.adm-calendar-picker-view .adm-calendar-picker-popup-footer .adm-divider,.adm-calendar-picker-view .adm-calendar-picker-view-footer .adm-divider,.adm-calendar-picker .adm-calendar-picker-footer .adm-divider,.adm-calendar-picker .adm-calendar-picker-popup-footer .adm-divider,.adm-calendar-picker .adm-calendar-picker-view-footer .adm-divider {
    margin-top: 0
}

.adm-calendar-picker-popup .adm-calendar-picker-footer .adm-button,.adm-calendar-picker-popup .adm-calendar-picker-popup-footer .adm-button,.adm-calendar-picker-popup .adm-calendar-picker-view-footer .adm-button,.adm-calendar-picker-view .adm-calendar-picker-footer .adm-button,.adm-calendar-picker-view .adm-calendar-picker-popup-footer .adm-button,.adm-calendar-picker-view .adm-calendar-picker-view-footer .adm-button,.adm-calendar-picker .adm-calendar-picker-footer .adm-button,.adm-calendar-picker .adm-calendar-picker-popup-footer .adm-button,.adm-calendar-picker .adm-calendar-picker-view-footer .adm-button {
    width: 100%
}

.adm-calendar-picker-cells,.adm-calendar-picker-popup-cells,.adm-calendar-picker-view-cells {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 4px 8px
}

.adm-calendar-picker-cell,.adm-calendar-picker-popup-cell,.adm-calendar-picker-view-cell {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28571%;
    min-height: 55px;
    margin-bottom: 4px;
    padding: 2px;
    color: var(--adm-color-text);
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
} */
